html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    cursor: default;
}

input, button, select, textarea {
    font-family: 'Cuprum', sans-serif;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#push,
#footer {
    height: 30px;
}

#footer {
    line-height: 30px;
    color: #999;
    background-color: #000000;
    padding: 0 10px;
    text-align: center;
    z-index: 900;
}

#footer .container-fluid {
    margin: 0;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline;
}

#footer a,
#footer a:visited {
    color: #999999;
}

#footer a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

*:focus,
a:focus {
    outline: none;
}

.wrapSuccess {
    background-color: #309b30;
}

.wrapError {
    background-color: red;
}

.container-builds {
    margin-top: 50px;
    z-index: 100;
}

.container-builds .build:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.build.alert-success,
.build.alert-error {
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.build.alert-success .content {
    background-color: #dff0d8;
}
.build.alert-error .content {
    background-color: #f2dede;
}

.build.alert-success .title {
    background-color: green;
    background-image: -moz-linear-gradient(top, #bccdb8, green);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bccdb8), to(green));
    background-image: -webkit-linear-gradient(top, #bccdb8, green);
    background-image: -o-linear-gradient(top, #bccdb8, green);
    background-image: linear-gradient(to bottom, #bccdb8, green);
}

.build.alert-error .title {
    background-color: red;
    background-image: -moz-linear-gradient(top, #dcc8c8, red);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcc8c8), to(red));
    background-image: -webkit-linear-gradient(top, #dcc8c8, red);
    background-image: -o-linear-gradient(top, #dcc8c8, red);
    background-image: linear-gradient(to bottom, #dcc8c8, red);
}

.build .title h2 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 25px 0 8px;
    padding: 0;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: -1px -1px 3px #000000;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.build .title a,
.build .title a:hover,
.build .title a:focus,
.build .title a:visited {
    color: #ffffff;
}

.build .navbar .nav {
    margin: 0 10px 0 0;
    padding: 0;
}

.build .navbar .nav > li > a {
    margin: 0;
    padding: 0;
}

.build .navbar .nav > li > a > i {
    position: relative;
    top: 2px;
    opacity: 0.4;
}

.build .navbar .nav li.dropdown.open > .dropdown-toggle,
.build .navbar .nav li.dropdown.active > .dropdown-toggle,
.build .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

.build .navbar .nav > li > a:hover i,
.build .navbar .nav li.dropdown.open > .dropdown-toggle i,
.build .navbar .nav li.dropdown.active > .dropdown-toggle i,
.build .navbar .nav li.dropdown.open.active > .dropdown-toggle i {
    opacity: 1;
}

.build .navbar .pull-right > li > .dropdown-menu,
.build .navbar .nav > li > .dropdown-menu.pull-right {
    right: -12px;
}

.build .navbar .dropdown-menu i {
    position: relative;
    left: -5px;
    top: -1px;
}

.build .dropdown-menu > li > a {
    padding: 3px 10px;
}

.build .title,
.build .content {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.build .title {
    min-height: 25px;
    margin: 0;
    padding: 5px 0 3px 0;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.build .content {
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 5px;
}

.build .content .info {
    text-align: center;
}

.build .content .info h2,
.build .content .info h3 {
    padding: 0;
    margin: 10px 0 0;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    text-shadow: 1px 1px 0 #FFFFFF;
    overflow: hidden;
}

.build .content .info h3 {
    margin-top: 5px;
}

.build .content a.colorbox {
    display: none;
}

.build .content .status,
.build .content .image {
    width: 80px;
    height: 80px;
}

.build .content .status {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    border: 1px solid  rgba(0, 0, 0, 0.2);
}

.build.alert-success .status {
    background-color: green;
}

.build.alert-error .status {
    background-color: red;
}

.build .content .status {
    margin: 0 5px 0 0;
}

.build .content .image {
    margin: 0 0 0 5px;
}

.build .content .image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.8);
    border: 1px solid  rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.build.alert-success .image img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

#cboxOverlay {
    background: #1e1e1e;
}

#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxMiddleLeft,
#cboxMiddleRight {
    background: #E6E5E5 none;
}

#cboxTopLeft {
    border-top-left-radius: 10px;
}

#cboxTopRight {
    border-top-right-radius: 10px;
}

#cboxBottomRight {
    border-bottom-right-radius: 10px;
}

#cboxBottomLeft {
    border-bottom-left-radius: 10px;
}

#cboxContent,
#cboxBottomCenter {
    background-color: #E6E5E5;
}

#cboxClose {
    bottom: -30px;
}

#cboxTitle {
    bottom: -30px;
    text-shadow: 2px 2px 1px #ffffff;
    color: #222;
    font-size: 20px;
}

#cboxLoadedContent img {
    border-radius: 10px;
}

#cboxLoadingGraphic {
    background: url(../images/loading.gif) no-repeat center center;
}

.text-mini {
    font-size: 12px;
}

.bootbox .modal-header {
    background-color: #F5F5F5;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: inset 0 -1px 0 #ffffff;
    -moz-box-shadow: inset 0 -1px 0 #ffffff;
    box-shadow: inset 0 -1px 0 #ffffff;
}

.bootbox .modal-header h3 {
    font-size: 20px;
    text-shadow: 2px 2px 1px #ffffff;
}

.bootbox .modal-header .close {
    font-size: 35px;
    margin-top: 7px;
}

.bootbox .modal-header .close:hover {
    opacity: 1;
}

.bootbox .modal-body h3 {
    margin-top: 0;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 1px solid;
}

.bootbox .modal-body p {
    font-size: 14px;
}

.bootbox .modal-body form {
    margin-bottom: 0;
}

.bootbox .modal-body .form-horizontal {
    margin: 10px 0;
}

.bootbox .modal-body .form-horizontal .control-group {
    margin-bottom: 10px;
}

.bootbox .modal-body .form-horizontal .control-group:last-of-type {
    margin-bottom: 0;
}

.bootbox .modal-body .controls-slider .ui-slider {
    width: 160px;
    display: inline-block;
    top: 5px;
    margin: 0 10px;
}

.bootbox .modal-body .controls-slider .ui-slider .ui-slider-handle {
    cursor: pointer;
}

.bootbox .modal-body .controls span.help-block {
    color: #999;
    font-style: italic;
    margin-top: 5px;
}

.bootbox .modal-body .controls-slider span.help-block {
    margin-top: 0;
}

.bootbox .modal-body #setupBuilds span {
    position: relative;
    top: 3px;
}

.bootbox .modal-body #setupBuilds .control-group {
    margin-bottom: 0;
}

.bootbox .modal-body #setupBuilds .control-group .controls input[type="checkbox"] {
    margin-top: 0px;
    position: relative;
    top: -2px;
}

.bootbox .modal-body #setupBuilds .control-group .controls {
    margin-top: 5px;
}

.bootbox .modal-body .controls-slider span.uneditable-input {
    width: 20px;
    text-align: center;
}

.bootbox .modal-body .controls-slider input {
    display: none;
}

.bootbox .modal-body,
.bootbox .modal-footer {
    padding: 7px
}

.bootbox .modal-body .alert,
.bootbox .modal-body .alert pre:last-of-type {
    margin-bottom: 0;
}

.bootbox .modal-body .alert-error {
    padding: 7px;
    border-radius: 6px;
}